# Ignore Development Things
.idea/
.ddev/
athlon1600/
demo.html
composer.lock
composer.json

# Ignore PHP Vendors
vendor/

# Ignore the running .env-File
.env

# Ignore other stuff
storage/
.htaccess